.ui_datepicker_wrapper{
	width: 310px;
	box-shadow: 2px 2px 2px 2px rgba(125,125,125,0.3);
	display: none;
}

.ui_datepicker_wrapper_show {
	display: block;
}

.ui_datepicker_wrapper .ui_datepicker_header{
	height: 50px;
	line-height: 50px;
	font-size: 18px;
	text-align: center;
	background-color: #f1eff1;
	padding: 0 20px;
}
.ui_datepicker_wrapper .ui_datepicker_btn{
	width: 20px;
	height: 50px;
	font-size: 25px;
	color: #42b5a1;
	text-decoration: none;
	cursor: pointer;
}

.ui_datepicker_wrapper .ui_datepicker_pre_btn{
	float:left;
}
.ui_datepicker_wrapper .ui_datepicker_current_month{
	
}
.ui_datepicker_wrapper .ui_datepicker_next_btn{
	float:right;
	text-decoration: none;
}

.ui_datepicker_wrapper .ui_datepicker_body table {
	width:100%;
	/* border: 1px solid red; */
	border-collapse: collapse;
}

.ui_datepicker_wrapper .ui_datepicker_body th, 
.ui_datepicker_wrapper .ui_datepicker_body td
{
	width: 30px;
	text-align: center;
}

.ui_datepicker_wrapper .ui_datepicker_body th{
	height: 30px;
	line-height: 30px;
	font-size: 14px;
}

.ui_datepicker_wrapper .ui_datepicker_body td
{
	height: 30px;
	font-size: 15px;
	border: 1px solid #f0f0f0;
	cursor: pointer;
}





